.Rproj
.user
.Rhistory
.RData
.Ruserdata
**/BR-deaths/SIM-raw-data/*.zip
**/SINASC-Brazil-Births/SINASC-raw-data/*.zip

my-API-key.txt
Nascidos Vivos 2018/nascidos-vivos-preliminar-2018.zip
RUS-deaths-from-HCD/QUOTES-RUS_m_short_idr.csv
RUS-deaths-from-HCD/RUS_m_interm_idr.csv
RUS-deaths-from-HCD/RUS_m_short_idr.csv
